<div class="w-100 p-3 l-100" style="background-color: #eee; opacity: .7;">
<h3>Please login or create an account: </h3><br>
<%= form_with url: sessions_path, local: true do |f| %>
<%= f.label :user_name %>
<%= f.text_field :user_name %>
<%= f.label :password %>
<%= f.password_field :password %><br><br>
<%= f.submit "Log In" %><br>
<% end %><br>
<%= button_to "Create Account", new_user_path, method: :get %>
</div>
