<div class="container text-center">

<h1>Show Page</h1>
<%= @group.name %>
<%= @group.book.title %>
<%= @group.creator.user_name %>
<%= @group.first_meeting %>
<%= @group.days %>
<%= @group.reading_amount %>
<%= button_to "Delete #{@group.name}", @group, method: :delete  %><br><br>

<%= button_to "Join Group", @group, method: :patch %>
<%= button_to "Leave Group", @group, method: :patch, params: {remove?: "y"} %>


<% if @group.users %>
<ul>
  <% @group.users.each do |user| %>
  <li> <%= link_to user.user_name, user %>  </li>
  <% end %>
</ul>
<% end %>

</div>
