<div class="w-50 p-3" style="background-color: #eee; opacity: .7;">
<h1>New user</h1>

<%= form_for @user do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br>
<%= f.label :user_name %>
<%= f.text_field :user_name %><br>
<%= f.label :password %>
<%= f.password_field :password %><br>
<%= f.label :profile_pic_link %>
<%= f.text_field :user_img_url %><br>
<%= f.submit "Create" %>
<% end %>
</div>
