<div class="w-100 p-3" style="background-color: #eee; opacity: .7;">


<h1>My Profile</h1><br>
<h3>Name: </h3><h5><%= @user.name %><br><br></h5>
<h3>Username: </h3><h5><%= @user.user_name %><br><br></h5>


<h3>My Created Groups:</h3>
<ol>
  <% @user.groups.each do |group| %>
  <li><%= link_to group.name, group %></li>
  <% end %>
</ol>

<h3>My Joined Groups:</h3>
<ol>
  <% @groups.each do |group| %>
  <% if group.users.include?(@user) %>
  <li><%= link_to group.name, group %></li>
  <% end %>
  <% end %>

</<ol>

<br>
<%= button_to "Delete My Account", @user, method: :delete  %><br>
<%= button_to "Edit My Account", edit_user_path, method: :get  %>

</div>
