<div class="container text-center">
<h1>Welcome to the Book Club!</h1>
</div>

<%= form_with url: sessions_path, local: true do |f| %>
<%= f.label :user_name %>
<%= f.text_field :user_name %>
<%= f.label :password %>
<%= f.password_field :password %>
<%= f.submit "Log In" %>
<% end %>

<%= button_to "Create Account", new_user_path, method: :get  %><br>

<h3>Check out our most popular books!</h3>
<ol>
    <% @books.each do |t| %>
    <li>  <%=  t.title %> </li>
    <% end %>
</ol>
