<div class="w-100 p-3 text-center" style="background-color: #eee;opacity: .7;">
<h1>Welcome to the Book Club!</h1>


<%= form_with url: sessions_path, local: true do |f| %>
<%= f.label :user_name %>
<%= f.text_field :user_name %><br><br>
<%= f.label :password %>
<%= f.password_field :password %><br><br>
<%= f.submit "Log In" %><br><br>
<% end %>

<%= button_to "Create Account", new_user_path, method: :get  %><br>
</div>

<div class="w-100 p-3" style="background-color: #eee; opacity: .7;">
<h3>Check out our most popular books!</h3>
<ol>
    <% @books.each do |t| %>
    <li>  <%=  t.title %> </li>
    <% end %>
</ol>
</div>
