<div class="w-50 p-3" style="background-color: #eee;">
<br><h1>Search for books to add</h1>
<br>
<%= form_for new_book_path, method: "get" do |f|%>
<%= f.label :q, "Search for Book (by title, author or subject):" %><br>
  <%= f.text_field :q %>
  <%= f.submit "Search" %>
<% end  %>



<ul>
<% if @raw_books %>
  <% @raw_books.each do |raw_book| %>
    <li>
      <%= form_for @book do |f| %>
      <%= f.button raw_book.title, name:'rawbook', value: raw_book.title %><br><br>
      <% end %>
    </li>
  <% end  %>
<% end %>
</ul>
</div>
