<h1> <%= @book.title %> </h1>

<%= image_tag(@book.thumbnail) %><br>

Author(s): <%= @book.authors %><br>

Description: <%= @book.description %><br>

Page Count: <%= @book.page_count %><br>

Categories: <%= @book.categories %><br>

Average Rating: <%= @book.average_rating %><br>
<br>

<ul>
  <% @book.groups.each do |group| %>
  <li> <%= link_to group.name, group %>  </li>
  <% end %>
</ul>
