<div class="w-100 p-3 " style="background-color: #eee; opacity: .7;">
<div class="container text-center">

<h1> <%= @book.title %> </h1><br><br>
<% if @book.thumbnail %>
<%= image_tag(@book.thumbnail) %><br><br>
<% end %>
</div>
<div class="container">

<h4>Author(s): </h4><%= @book.authors %><br><br>

<h4>Description: </h4><%= @book.description %><br><br>

<h4>Page Count: </h4><%= @book.page_count %><br><br>

<h4>Categories: </h4><%= @book.categories %><br><br>

<h4>Average Rating: </h4><%= @book.average_rating %><br>
<br>

<h3>Here all all the book club groups for <%= @book.title %>:</h3>
<ul>
  <% @book.groups.each do |group| %>
  <li> <%= link_to group.name, group %>  </li>
  <% end %>
</ul>
</div>
</div>
