<!DOCTYPE html>
<html>
  <head>
    <title>Mod2ProjectBookClub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
<div class="w-50 p-3 text-center button-center" style="background-color: #eee;">
      <% if @logged_in_user %>
    <h1>  Welcome back, <%= @logged_in_user.user_name %></h1>
    <% end %>

      <% if @errors %>
        <ul class="errors">
            <% @errors.each do |error| %>
              <li>
                <%= error %>
              </li>
          <% end %>
        </ul>
        <% end %>
        </div>
    </header>


<div class="w-50 p-3 pl-5" style="background-color: #eee;">
<% if @logged_in_user %>


  <div class="container row pl-5">

    <%= button_to "groups", groups_path, method: :get %>

    <%= button_to "profile", "/users/#{@logged_in_user.id}", method: :get  %>
    <%= button_to "books", books_path, method: :get  %>
    <%= button_to "log out", pages_path, method: :get   %>
<% end %>

</div>
</div>
<br>
    <%= yield %>
  </body>
</html>
