<!DOCTYPE html>
<html>
  <head>
    <title>Mod2ProjectBookClub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    

    <%= link_to "groups", groups_path %>
    <%= link_to "profile", "/users/2" %>
    <%= link_to "books", books_path %>

    <%= yield %>
  </body>
</html>
